/*
This style sheet is used by the browser in the usual way
and is NOT parsed by java script.
*/
.titleImageBackround {
	background-color: wheat;
}

.menuBar {
	background-color: Silver;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	height: 30px;
	width: 1300px;
}

.menuBarIndex {
	font-size: 24px;
	font-family: "Times New Roman", Times, serif;
}

.menuBarEndSpacer {
	width: 6px;
}

.adFrame {
	overflow-x: hidden;
	overflow-y: hidden;
	-ms-overflow-x: hidden;
	-ms-overflow-y: hidden;
}

.articleTitle {
	font-size: 24px;
	font-family: "Times New Roman", Times, serif;
}

.article {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
}

.articleSection {
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}

.articleView {
  height: 500px;
  width: 880px;
  background-color: wheat;
}

.dialogView {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  background-color: wheat;
}
.menuBarSpacer {
	width: 6px;
}
.articleSpacer {
	height: 10px;
	width: 10px;
}
.articleSectionSpacer {
	height: 25px;
	width: 25px;
}